@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, theme('colors.pastel-blue'), theme('colors.pastel-purple'));
  min-height: 100vh;
  color: theme('colors.slate.700');
}